{% extends "layout/base.html" %}

{% block PAGE_CONTENT %}
<div class="basic-text">
	<h1 class="events">LIVE IN QUART</h1>
	<div class="separator-content">ВИДЕО</div>
	<div class="video-inner"></div>
	<div class="video-inner"></div>
	<div class="video-inner"></div>
	<div class="separator-content">АУДИО</div>
	<div class="audio-inner"></div>
	<div class="audio-inner"></div>
	<div class="audio-inner"></div>
	<div class="audio-inner"></div>
	<div class="separator-content">ФОТО</div>
	<div class="gallery-inner"></div>
	<div class="gallery-inner"></div>
	<div class="gallery-inner"></div>
</div>
{% endblock %}