{% extends "layout/base.html" %}

{% block PAGE_CONTENT %}
<div class="basic-text">
    <h1 class="caption">ГЛАВНАЯ</h1>
    <span class="introduction">
        <img class="hunter" src="/static/i/data/hunter.jpg" alt="Охотник"/>
        <p>Все началось в незапямятные времена, когда жизнь выбралась на сушу, эволюционировала, эволюционировала, да и выэволюционировала. Когда охотник впервые собрал лук, и пытаясь выпустить стелу, чтобы прикончить допотопную курочку и пустить ее на жареху; промазал, натягивая тетеву. Как итог, курочка осталась жива, да и к тому же тетева зазвенела, а охотник почесал репу и придумал таки первый прообраз гитары, который мы знаем в настоящем.</p>
        <img class="lumier-bros" src="/static/i/data/lumier-bros.jpg" alt="Братья Люмьеры"/>
        <p>Когда, спустя долгое время братья Люмьеры сняли свой первый фильм про мчащийся локомотив (сюжет, конечно, так себе, но и на Оскар за лучшую режиссуру они не расчитывали), тем самым оживив картинку и подарив миру кинематограф.</p>
        <p>Когда 10 марта в далеком 58-м на свет родилась малышка Шерон, которая снявшись в фильме Пола Верховена, вдохновила всю мужскую половину мира заглянуть в инструкцию к VHS-проигрывателям и найти таки там кнопку остановки кадра.
        <p>Когда в затуманенный мозг кого-то из нас пришла самая дурацкая идея назвать так ту музыкальную чушь, которую мы несем и несем в массы, и несем десятилитровыми ведрами.</p>
        <p>Вот тогда эта цепочка событий сложилась и мы ее, блять, кулон.</p>
    </span>
</div>
{% endblock %}