{% extends "layout/base.html" %}

{% block PAGE_CONTENT %}
<div class="basic-text">
	<h1 class="caption">НАШЕ ВИДЕО</h1>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239034&hash=821f3e463432d781&hd=2" width="853" height="480"  frameborder="0" allowfullscreen>юг</iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239017&hash=822cf5740ae2235e&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239018&hash=58a6a3388720e2b5&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239019&hash=cf3b05bc8c180d49&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239021&hash=aef976fd3dbd5552&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239023&hash=b55dfc3d5afeb6f7&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239024&hash=38900c9a33ffbb84&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239025&hash=4c975673cc1cd8e7&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239028&hash=c13928102c4c2708&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239027&hash=92901b9ecb3b19d6&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239026&hash=46308660798b5877&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239030&hash=3e4fe791e95bcb5f&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239029&hash=03cf0339c53043cd&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239032&hash=5e619db71c1421f5&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239033&hash=95f88971f89f2c77&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="video-inner">
		<iframe src="//vk.com/video_ext.php?oid=-121138782&id=456239031&hash=91e6ed1a516ffc05&hd=2" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}