{% load gallery %}{% get_random_gallery %}
<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="/static/css/common.css">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="background"></div>
	<div class="gallery">
	<div class="gallery-inner">
	
	{{random_images}}
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
		<a class="photo1" href="/static/i/data/q1.JPG"><img src="/static/i/data/m-q1.JPG" alt="Live in QUART"/></a>
	</div>
	</div>
	<div class="page-wrap">
		<header>
			<a href="/" class="logo"></a>
		</header>

		{% block PAGE_CONTENT %}{% endblock %}
		
		<footer>
			<div class="page-wrap">
			<ul>
				<li class="home active">
					<a href="/">ГЛАВНАЯ</a>
				</li>
				<li class="about">
					<a href="/about.html">О НАС</a>
				</li>
				<li class="audio">
					<a href="/audio/">АУДИО</a>
				</li>
				<li class="video">
					<a href="/video/">ВИДЕО</a>
				</li>
				<li class="photo-gallery">
					<a href="/gallery/">ФОТО</a>
				</li>
				<li class="texts">
					<a href="/articles/">ТЕКСТ</a>
				</li>
				<li class="events">
					<a href="/events/">СОБЫТИЯ</a>
				</li>				
				<li class="contact">
					<a href="/contact.html">КОНТАКТЫ</a>
				</li>
			</ul>
			<span class="copyright">Copyright of DronMcDruseek&copy;</span>
			</div> 
			
		</footer>
	</div>

</body>
</html>